//Estilo de componentes
.botonform{
    @include botonform;
}

.headertx{
    font-size: 65px;
    font-weight: bolder;
}

.formma{
    margin-bottom: 21%;
}

.fondo-hero{
    background-color: $background-col-hero;
}