//Colores Principales
$primary-color: #212529;
$secondary-color: #e0e7ee;
$background-color: #f5f9fd;
$boton: #f3d216;
$boton-sec: #dbbe17;
$background-col-hero: rgb(207, 212, 223);

//Fuente
$font-all: "Roboto Slab", serif;

//Borde
$border-radius: .5rem;